{% extends "orders/base.html" %}

{% block title %}About | homade best pastry in Singapore{% endblock %}

{% block body %}
<br><br><br><br>
<center style="font-size: 30px; font-family: futura-light;" > / OUR STORY </center><br><br><br>
<div  style="font-family: montserrat; font-size: 18px; position:relative; left: 400px;" id="container">
<p> homade is a home-based pastry shop in Singapore. The team </p>
<p> believes in using quality ingredients and a hygienic kitchen.  </p><br>
<p> homade was started because of our love for pastries. </p>
<p> We decided to try to bake our own and spent  </p>
<p> countless hours and funds crafting our own recipe.</p>
<p> we wanted to share it with everyone and bring</p>
<p> joy to people in Singapore through our bakes.  </p><br>
<p> We value any feedbacks given about our pastries or business.</p>
<p> To ensure that our pastries are consistently delicious and </p>
<p> so as to continually provide the best service for you!!</p>

</div>


<br><br><br>
<footer style="background-color:light-grey; height: 50px; clear:both;"><hr style=" border-color: black; width: 6% ; border-width:2px; position:relative; top:-40px;">
   <p style="text-decoration:none; color:black; font-weight: 150; float:right; position:relative; left:-100px; text-align:center; top:-10px;"> © 2022 homade </p>
   <div style="color:black; float:left; position:relative;display:inline-block; top:-22px; left:75px;" id="container">
       <img style="width:10px;" src="static/auctions/facebook.png"></img><br>
       <img style="width:10px;" src="static/auctions/instagram.jpeg"></img><br>
       <img style="width:10px;" src="static/auctions/youtube.png"></img><br>
       <img style="width:10px;" src="static/auctions/tiktok.png"></img><br>
   </div>

   <div style="color:black; float:left; position:relative; display: inline-block; top: -20px; left:80px;" id="container">
   <a style=" text-decoration:none; color:black; font-weight: 150;" href="https://www.facebook.com/homade.sg"> Facebook </a><br>
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.instagram.com/homade.sg/"> Instagram </a><br>
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.youtube.com/channel/UCQn2DCK3LZJgbcDYJxTIa6Q"> Youtube <a><br>    
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.tiktok.com/@homade.sg"> Tiktok <a><br>
   </div>
    </footer>
    

{% endblock %}