{% extends "orders/base.html" %}
{% block title %}
FAQ | homade best pastry in Singapore
{% endblock %}
{% block body %}
<br><br><br><br>
<center style="font-size: 30px; font-family: futura-light;" > / FAQS </center><br><br><br>
<div  style="font-family: montserrat; font-size: 18px;" id="container">
<center style="font-weight:bold;"> Can I place an order via Instagram DM? </center>
<center> No, please place an order via our website.  </center>
<center> Please place an order and make payment by Friday.</center><br>
<center style="font-weight:bold;"> Am I able to reschedule or cancel my order once it is confirmed? </center>
<center> Nope, we do not allow cancellation or rescheduling of orders due to our limited daily capacity.</center>
<center> Do double check before ordering.</center><br>
<center style="font-weight:bold;"> Can I order to multiple locations?  </center>
<center> Yes, you can! You will have to place separate orders for delivery to different locations.  </center><br>
<center style="font-weight:bold;"> More information on delivery </center>
<center> We will deliver your cake(s) between 11am and 6pm. </center>
<center> We do not deliver to restricted zones (hospital, quarantine zone, airport, Jurong island, army camp, Tuas) </center>
<center> Free Delivery for orders over $110 for the same date and address.</center><br>
<center style="font-weight:bold;"> Do you have self-collection? </center>
<center> Yes, we do. Our team will liaise with you when to collect.</center>
<center> Address: 1 Jalan Keli, Singapore 577937 </center><br>
<center style="font-weight:bold;"> Can I pay cash on delivery/self-collection? </center>
<center> Sorry, we do not accept cash. We only accept card payments, PayLah, PayNow and GrabPay. </center><br>
<center style="font-weight:bold;"> How should I store my cheesecake?</center>
<center> Please store the cake in the fridge for 2 hours upon receiving it. Leave the cake out for 15 minutes before consuming.</center>
<center> Do not store it in the freezer or at room temperature. Do not heat up the cake. The cake can last up to 3 days.</center><br>
<center style="font-weight:bold;"> How should I store my madeleines? </center>
<center> You can store the madeleines at room temperature or in the fridge.</center>
<center> Heat them up before eating!! They can last up to 2-3 days. </center>
</div>


<br><br><br><br><br>
<footer style="background-color:light-grey; height: 50px; clear:both;"><hr style=" border-color: black; width: 6% ; border-width:2px; position:relative; top:-40px;">
   <p style="text-decoration:none; color:black; font-weight: 150; float:right; position:relative; left:-100px; text-align:center; top:-10px;"> © 2022 homade </p>
   <div style="color:black; float:left; position:relative;display:inline-block; top:-22px; left:75px;" id="container">
       <img style="width:10px;" src="static/auctions/facebook.png"></img><br>
       <img style="width:10px;" src="static/auctions/instagram.jpeg"></img><br>
       <img style="width:10px;" src="static/auctions/youtube.png"></img><br>
       <img style="width:10px;" src="static/auctions/tiktok.png"></img><br>
   </div>

   <div style="color:black; float:left; position:relative; display: inline-block; top: -20px; left:80px;" id="container">
   <a style=" text-decoration:none; color:black; font-weight: 150;" href="https://www.facebook.com/homade.sg"> Facebook </a><br>
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.instagram.com/homade.sg/"> Instagram </a><br>
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.youtube.com/channel/UCQn2DCK3LZJgbcDYJxTIa6Q"> Youtube <a><br>    
   <a style="text-decoration:none; color:black; font-weight: 150;" href="https://www.tiktok.com/@homade.sg"> Tiktok <a><br>
   </div>
    </footer>
    

{% endblock %}